In [10]:
from afqinsight.datasets import download_weston_havens

In [11]:
# The download_weston_havens() function download the data used in this example
# and places it in the ~/.cache/afq-insight/weston_havens directory.
workdir = download_weston_havens()

File ../.cache/afq-insight/weston_havens_data/nodes.csv exists.
File ../.cache/afq-insight/weston_havens_data/subjects.csv exists.

In [12]:
import pandas as pd
import os.path as op

In [13]:
tract_profiles = pd.read_csv(op.join(workdir, "nodes.csv"))
subject_information = pd.read_csv(op.join(workdir, "subjects.csv"))

In [14]:
tract_profiles

,subjectID,tractID,nodeID,rd,fa,cl,ad,md
0,subject_000,Left Thalamic Radiation,0,0.656032,0.183053,0.081921,0.875535,0.729200
1,subject_000,Left Thalamic Radiation,1,0.613308,0.247121,0.115480,0.909085,0.711901
2,subject_000,Left Thalamic Radiation,2,0.574612,0.306726,0.151766,0.944572,0.697932
3,subject_000,Left Thalamic Radiation,3,0.549868,0.343995,0.176124,0.966964,0.688900
4,subject_000,Left Thalamic Radiation,4,0.530190,0.373869,0.194396,0.985039,0.681806
...,...,...,...,...,...,...,...,...
153995,subject_076,Right Arcuate,95,0.539816,0.344533,0.175041,0.949196,0.676276
153996,subject_076,Right Arcuate,96,0.560710,0.318390,0.160269,0.942213,0.687877
153997,subject_076,Right Arcuate,97,0.583829,0.285579,0.141650,0.927738,0.698465
153998,subject_076,Right Arcuate,98,0.615487,0.234847,0.112946,0.897994,0.709656
153999,subject_076,Right Arcuate,99,0.649862,0.179038,0.080633,0.862630,0.720785

In [15]:
subject_information

,Unnamed: 0,subjectID,Age,Gender,Handedness,IQ,IQ_Matrix,IQ_Vocab
0,0,subject_000,20,Male,NaN,139.0,65.0,77.0
1,1,subject_001,31,Male,NaN,129.0,58.0,74.0
2,2,subject_002,18,Female,NaN,130.0,63.0,70.0
3,3,subject_003,28,Male,Right,NaN,NaN,NaN
4,4,subject_004,29,Male,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
72,72,subject_072,40,Male,Right,134.0,68.0,69.0
73,73,subject_073,50,NaN,NaN,NaN,NaN,NaN
74,74,subject_074,40,Male,Right,122.0,62.0,63.0
75,75,subject_075,17,Female,Right,118.0,55.0,65.0
76,76,subject_076,17,Male,Right,121.0,59.0,65.0

### Tutorial
The information in `nodes.csv` comes from diffusion MRI data analyzed according to tractometry. You can read more about tractometry from these two links: 

1. https://yeatmanlab.github.io/pyAFQ/explanations/index.html

2. https://yeatmanlab.github.io/pyAFQ/explanations/tractometry_pipeline.html

Your task is to use this data predict age (age from `subjects.csv`). You can try a variety of different models (linear, quadratic, something more complicated). For this, libraries such as `scipy`, `scikit-learn`, and `numpy` could be useful here. Answer these questions:

1. Which model is most useful for predicting age from tractometry?
2. Which tract(s) are most predictive of age? Least?
3. Which tissue properties (rd, fa, cl, ad, md)?

For nodeID, it is common to take the mean or median over all nodes in a tract. There are currently 100 nodes per tract, and  You can also